.your-custom-class-01 {
  display: block;
}

p { 
  margin-top: 20px;
  line-height: 7px;
  margin-bottom: 20px;
}

body {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  font-size: 15px
}